<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="./css/user/my-profile.css">
    <link rel="stylesheet" href="./css/main/style.css">
</head>
<body>

    <div><%= user.firstname %></div>
    <div><%= user.lastname %></div>
    <div><%= user.username %></div>
    <div><%= user.email %></div>
    <!-- <form>
        <input type="text" placeholder="First Name" value="<%= user.firstname %>">
        <input type="text" placeholder="Last Name" value="<%= user.lastname %>">
        <input type="text" placeholder="User Name" value="<%= user.username %>">
        <input type="text" placeholder="Email" value="<%= user.email %>">
        <input type="submit" value="Update">
    </form> -->

    <script>
    </script>
</body>
</html>